* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#map {
  height: 100vh;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.menu {
  z-index: 666;
  background: rgba(78, 78, 78, 0.5);
  position: absolute;
  margin: 0;
  top: 0;
  left: -360px;
  width: 360px;
  height: 100vh;
  transition: 1s;
  text-align: center;
}

.open {
  transition: 1s;
  left: 0;
}

#info-h1 {
  padding: 10px;
}

#info-div {
  padding: 10px;
}

#info-div span {
  color: grey;
}

#info-foursquare {
  text-align: center;
  font-size: 8px;
  padding: 10px;
}

#info-foursquare a {
  text-decoration: none;
}

#hamburger-button {
  transition: 1s;
  z-index: 999;
  position: absolute;
  margin: 10px;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0);
  border: none;
  display: inline-block;
  cursor: pointer;
  -webkit-box-shadow:
        0 2px 2px 0 rgba(0,0,0,0.14),
        0 3px 1px -2px rgba(0,0,0,0.12),
        0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 
        0 2px 2px 0 rgba(0,0,0,0.14),
        0 3px 1px -2px rgba(0,0,0,0.12),
        0 1px 5px 0 rgba(0,0,0,0.2);
}

#hamburger-button:focus {
  background: rgb(87, 85, 85);
}

#hamburger-button.open {
  transition: 1s;
  margin-left: 300px;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.bar-hamburger-button1, .bar-hamburger-button2, .bar-hamburger-button3 {
  width: 2.2em;
  height: 0.3em;
  background-color: rgb(255, 255, 255);
  margin: 0.5em;
  outline: none;
  transition: 0.4s;
}

.open .bar-hamburger-button1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.open .bar-hamburger-button2 {opacity: 0;}

.open .bar-hamburger-button3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#search-div form {
  text-align: left;
  padding: 0;
  margin-top: 15%;
}

#search-div label {
  display: inline-block;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
  width: 20%;
}

#search-div input {
  display: inline-block;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  height: 30px;
  margin: 5%;
  padding: 5px;
  width: 70%;
}

#search-div input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

#search-div input:focus {
  -webkit-box-shadow:
        0 2px 2px 0 rgba(0,0,0,0.14),
        0 3px 1px -2px rgba(0,0,0,0.12),
        0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 
        0 2px 2px 0 rgba(0,0,0,0.14),
        0 3px 1px -2px rgba(0,0,0,0.12),
        0 1px 5px 0 rgba(0,0,0,0.2);
}

#markers-list-div ol {
  list-style: none;
}

#markers-list-div li {
  outline: none;
  text-align: left;
  color: white;
  padding: 5px;
  cursor: pointer;
}

#markers-list-div li:hover:focus {
  background: rgba(78, 78, 78, 0.5);
}

#markers-list-div li:focus {
  background: rgba(78, 78, 78, 0.5);
}