.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#map {
  height: 100vh;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.menu {
  background: rgb(0, 0, 0);
  position: absolute;
  margin: 0;
  top: 0;
  left: -360px;
  width: 360px;
  height: 100vh;
  transition: 1s;
}

.open {
  transition: 1s;
  left: 0;
}

#hamburger-button {
  z-index: 999;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  display: inline-block;
  cursor: pointer;
}

#hamburger-button .open {
  color: white;
}

.bar-hamburger-button1, .bar-hamburger-button2, .bar-hamburger-button3 {
  width: 2em;
  height: 0.3em;
  background-color: rgb(51, 51, 51);
  margin: 0.5em 0;
  outline: none;
  transition: 0.4s;
}

.open .bar-hamburger-button1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.open .bar-hamburger-button2 {opacity: 0;}

.open .bar-hamburger-button3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}