* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#map {
  height: 100vh;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.menu {
  background: rgba(78, 78, 78, 0.5);
  position: absolute;
  margin: 0;
  top: 0;
  left: -360px;
  width: 360px;
  height: 100vh;
  transition: 1s;
  text-align: center;
}

.open {
  transition: 1s;
  left: 0;
}

#hamburger-button {
  z-index: 999;
  position: absolute;
  margin: 10px;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.bar-hamburger-button1, .bar-hamburger-button2, .bar-hamburger-button3 {
  width: 2.2em;
  height: 0.3em;
  background-color: rgb(51, 51, 51);
  margin: 0.5em 0;
  outline: none;
  transition: 0.4s;
}

.open .bar-hamburger-button1 {
  background-color: white;
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.open .bar-hamburger-button2 {opacity: 0;}

.open .bar-hamburger-button3 {
  background-color: white;
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#search-div form {
  padding: 0;
  margin-top: 15%;
}

#search-div label {
  display: block;
  color: white;
  font-size: 32px;
  font-weight: bold;
  padding: 0;
  margin-top: 15%;
}

#search-div input {
  outline: none;
  border: none;
  border-radius: 10px;
  height: 20px;
  width: 80%;
}

#markers-list-div ol {
  list-style: none;
}

#markers-list-div li {
  text-align: left;
  color: white;
  margin: 5px;
  cursor: pointer;
}

#markers-list-div li:hover {
  background: rgba(78, 78, 78, 0.5);
}